// Place all the styles related to the Borrowers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.needed{
	top: 0;
	left: 50%;
	position: relative;
	display: block;
	text-align: center;
	width: 300px;
	background: linear-gradient(#ffffff, #ffffff, #ffffff,#e0e0e0);
	padding: 10px;
	margin: 10px 0 10px -160px;
	color: #1c1c1c;
	border: 2px inset #000000;
}
